body {
	background-color: #4A514C;
}
img {
			display: block;
  			margin-left: auto;
  			margin-right: auto;
		}

p {
	background-color: #787467;
}
h2 {
	background-color: #787467;
}
h3 {
	background-color: #787467;
}
